/* .col-md-2 {
    background-color: gray
} */

/* .custom-height {
    height: 2000px;
} */

.btn-secondary{
    position:relative; top: 200px;
}

body {
    background-color: rgb(190, 189, 189);
}

/* .card{
    margin-top: 100px;
} */