/* .col-md-2 {
    background-color: rgb(255, 240, 240)
} */

/* .custom-height {
    height: 2000px;
} */

.card-display{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F3E3;

}

.btn-secondary{
    position:relative; top: 200px;
}

body {
    background-color: rgb(210, 175, 145);
}

/* .card{
    margin-top: 100px;
} */

