.card{
    height: 25vh;
    width: 15vw;
    min-width: 300px
}

.card-body{
    text-align: center;
}

.card-title{
    background-color: #DBD3D8;
    color: #223843 ;
    text-decoration: none;
}

.card-text{
    color: #223843 ;
    text-decoration: none;
}
