.home-title {
    background-color: #6a99ae;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vmin;
    width: 100vw;
    padding: 10px;
}

.home-title > h2{
  font-size: 3vmin;  
}

.home-body{
    background-color: #4de4ba;
    /* display: flex; */
    /* justify-content: space-evenly; */
    margin: 10px;
    padding: 10px;
}

.category-container {
  background-color: #9fc0cf;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



input{
    width: 20vw
}

.home_cards {
    min-width: 500px !important;
}