.home-title {
    background-color: #6a99ae;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    padding: 10px;
}

.home-body{
    background-color: #4de4ba;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

.category-container{
    background-color: #9fc0cf;
}

input{
    width: 20vw
}
