.my-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .my-dropdown .dropdown-menu {
    position: absolute;
    top: -50px;
  }

  .banner {
    max-height: 500px;
    min-width: 100%;
  }
  