.nav-bar {
    background-color: #1c5e60;
    display: flex;
    justify-content: space-between;
    height: 50px; 
    padding: 10px;
    font-size: 5vh;
}

.search-input{
    width: 25vw;
    border-radius: 5px;
}

.home-link{
    text-decoration: none;
    color:white;
}