.linkbar {
    background-color: rgb(58, 58, 58);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    margin-top: 63px;
    background-color: #2d2226;
    color:#F3D8C7 ;

}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    border-top: 10px solid black
}

.circle-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
  
.profile-name {
    text-align: center;
}

.profile-bio {
    text-align: center;
}

.sidebar-button{
    background-color: #2d2226;
    color:#F3D8C7 ;
}

.btn-secondary{
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
  }
    .btn-secondary:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px,-4px);
        background-color: rgb(234, 208, 208);
        color: #2d2226
    }
    .btn-secondary:focus-visible{
        outline-offset: 1px;
    }
